/*************** Reset *********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Raleway", sans-serif;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}

main {
  max-width: 1200px;
  margin-inline: auto;
  background-color: #eaeaea;
}

/*************** Colors *********************/

/*************** Header og Logo *********************/

header {
  position: sticky;
  top: 0;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  text-decoration: none;
  background-color: #9cc9ad;
}

.logo:hover {
  transition: transform 0.2s; /* Animation */
  transform: scale(1.1); /* (110% zoom  */
}

ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin-right: 10px;
}

nav ul a {
  list-style-type: none;
  text-decoration: none;
}

/*************** Links *********************/

.cta {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.cta:hover {
  color: #3b10b4;
}

a:visited {
  color: white;
}

/*************** Footer *********************/

footer {
  background-color: #000000;
  text-align: center;
  color: white;
  padding: 10px;
}

/*************** Fonte *********************/

.h1projects {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  padding: 40px;
}

h2 {
  font-weight: lighter;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.3rem;
  padding-bottom: 20px;
}

h4 {
  font-weight: lighter;
  font-size: 1rem;
  padding-bottom: 10px;
}

p {
  font-size: 1rem;
}

b {
  font-size: 1.1rem;
}

.center {
  text-align: center;
}
