/*************** Reset *********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Raleway", sans-serif;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}

main {
  max-width: 1200px;
  margin-inline: auto;
  background-color: F7F8F3;
}

html {
  --primary-color: ;
  --secondary-color: ;
  --contrast-color: ;
  --header-color: ;
  --text-color: ;

  --space-h1: 0.9rem 0 0.4rem 0;
  --space-h2: 2.5rem 0 0.5rem 0;
  --space-p: 0.9rem 0 0.4rem 0;
}

/*************** Colors *********************/

/*************** Header og Logo *********************/

header {
  position: sticky;
  top: 0;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  text-decoration: none;
  background-color: #000000;
  line-height: 1.5rem;
}

.logo:hover {
  transition: transform 0.2s; /* Animation */
  transform: scale(1.1); /* (110% zoom  */
}

nav {
  --less-than: 600;
  --burger-lines: white;
  --burger-border: white;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin-right: 10px;
}

nav ul a {
  list-style-type: none;
  text-decoration: none;
}

/*************** Links *********************/

.cta {
  list-style-type: none;
  text-decoration: none;
}

.cta:hover {
  color: #96e780;
}

a:visited {
  color: blue;
}

footer {
  background-color: #000000;
  text-align: center;
}

/*************** Fonte *********************/

.h1projects {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  padding: 40px;
}

h2 {
  font-weight: lighter;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.3rem;
  padding-bottom: 20px;
}

h4 {
  font-weight: lighter;
  font-size: 1rem;
  padding-bottom: 10px;
}

p {
  font-size: 1rem;
  font-family: ;
}

.center {
  text-align: center;
}
