img {
  width: 100%;
  display: block;
}

/*************** Grid projects *********************/

@media (min-width: 800px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 20px;
    column-gap: 10px;
  }

  .img_projects {
    border-radius: 50%;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
    column-gap: 10px;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 20px;
    column-gap: 10px;
  }

  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
    column-gap: 10px;
  }
}

/*************** Projects hover, zoom, animation *********************/

.zoom {
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (110% zoom  */
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #eaeaea;
  opacity: 100%;
  color: #3b10b4;
  font-size: 20px;
  padding: 16px 32px;
  font-weight: 500;
}

/*************** Billeder og Videoer *********************/

.img_about {
  border-radius: 50%;
  width: 40%;
  padding: 10px;
}

.img_ommig {
  border-radius: 10px;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

/*************** Layout project *********************/

.project_body {
  padding: 0 30px;
  max-width: 600px;
  margin: 0 auto;
}

.project_content {
  overflow: auto;
}

.h1_project {
  font-weight: bold;
  font-size: 2.4rem;
  padding-top: 30px;
  padding-bottom: 20px;
}

.placement {
  max-width: 240px;
  margin: 0 auto;
  padding-bottom: 30px;
}

/*************** Knap *********************/

.button {
  padding: 15px 30px;
  font-size: 1rem;
  text-decoration: none;
  justify-content: center;
  display: inline-block;
  background-color: #3b10b4;
}

.button:hover {
  transform: translateY(-3px);
  color: white;
}

/*************** Show more JS *********************/

.hide {
  display: none;
}

.mere {
  margin-bottom: 1rem;
}

/*************** Layout dokumentation *********************/

.project_body_p {
  padding: 0 30px;
  max-width: 800px;
  margin: 0 auto;
}

.h1_padding {
  padding-bottom: 20px;
}

/*************** Layout Om mig *********************/

.ommig {
  padding-top: 70px;
  padding-bottom: 70px;
}

.paddingbottom {
  padding-bottom: 50px;
}
