img {
  width: 100%;
  display: block;
}

/*************** Layout projects *********************/

@media (min-width: 800px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 20px;
  }

  .img_projects {
    border-radius: 50%;
  }
}

.zoom {
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (110% zoom  */
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: black;
  opacity: 100%;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*************** Layout project *********************/

.project_wrap {
  padding: 0 30px;
  max-width: 600px;
  margin: 0 auto;
}

.project_body {
  min-height: calc(100vh - 120px);
  height: 100%;
}

.project_content {
  position: relative;
}

.button:hover {
  transform: translateY(-3px);
  color: white;
}

.small {
  margin: 5px 0 0 -36px;
  font-size: 1rem;
  text-decoration: underline;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  left: 0;
}

/*************** Show more JS *********************/

.hide {
  display: none;
}

.mere {
  margin-bottom: 1rem;
}
